.bg-port{
    background-image: url(https://media2.giphy.com/media/i2tUkY5YrfN85y1W0P/giphy.gif);
    width: 100vw;
    height: 100vh;
}

.row{
    width: 100vw;
}

.line{
    height: 3px;
    width: 30vw;
}

.icon{
    height: 40px;
    width: 40px;
}